
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  width: auto;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.modal-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cancel-button {
  background-color: #d9534f;
  color: white;
}


.confirm-button {
  background-color: #5bc0de;
  color: white;
}
