
* {
  box-sizing: border-box;
}


.table-container {
  width: 110%;
  margin: 4% auto 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  border-spacing: 0;
  color: var(--falcon-table-color);
  background-color: var(--falcon-table-bg);
}

.table-container table {
  width: 100%;
  border: var(--falcon-border-width) var(--falcon-border-style)
    var(--falcon-table-border-color);
}


.table-container td,
.table-container th {
  text-align: center;
  padding: 0.75rem;
  border-bottom: var(--falcon-border-width) var(--falcon-border-style)
    var(--falcon-border-color);
}


.table-container th {
  border-bottom: 2px solid var(--falcon-border-color);
}

.left-name {
  border-left: var(--falcon-border-width) var(--falcon-border-style)
    var(--falcon-border-color);
}

.right-name {
  border-right: var(--falcon-border-width) var(--falcon-border-style)
    var(--falcon-border-color);
}

.text-nowrap {
  white-space: nowrap;
}

.bg-default {
  background-color: #b6e0fe;
}

thead {
  background-color: #235391;
}
.text-head {
  color:  white !important;
}


.badge,
.rounded-pill {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--falcon-border-radius-pill);
}


@media (max-width: 768px) {
  .table-container {
    width: 100%;
    margin-top: 2%;
  }
}


  .truncated-text {
    max-width: 250px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .truncated-text2 {
    max-width: 190px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
  }

  .pointer-text-control {
    position: relative;
    cursor: pointer;
  }
  




  
.trash-icon {
  cursor: pointer;
}
 .trash-icon2
{
  margin-left: 42.5px;
  cursor: pointer;
 
} 
.no-underline-border {
  text-decoration: none !important; 
  border: none !important; 
}
.status-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 200px; 
  box-sizing: border-box;
}

.name-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 200px; 
  box-sizing: border-box;
}

.name-input{
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  margin-right: 5px;
  flex-grow: 0; 
  max-width: 100%; 
  box-sizing: border-box; 
  overflow: hidden;
}

.select-dropdown {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  margin-right: 5px;
  flex-grow: 0;
  max-width: 60%; 
  box-sizing: border-box; 
  overflow: hidden;
}

.save-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 32px;
}

.save-button:hover {
  background-color: #0056b3;
}

.survey-add-btn {
   text-align: center !important;
   margin-left: 400px !important;
   margin-top: 3% !important;
}

.container-add-survey {
  margin-top: 5% !important;
}
.card-title2 {
  margin-top: 5% !important;
}

.error-message {
  color: red !important;
}