.quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  

  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
   border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .progress {
    height: 20px;
    background: linear-gradient(to right, rgb(0, 255, 47), rgb(0, 175, 70));
    width: var(--progress-width, 0%);
    transition: width 0.6s ease;
  }
  

  
  .question {
    margin-bottom: 20px;
  }
  
  .option {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
    color: #333;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #eaeaea;
  }
  
  .submit-container {
    text-align: right;
  }
  
  .submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #4cae4c;
  }

  /*

  */

  .question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    position: relative; 
    padding: 20px; 
  }
  
 
  .question-navigation {
    display: flex;
    justify-content: flex-end; 
    padding-top: 20px; 
  }
  
 
  .question-navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px; 
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .question-navigation button:hover {
    background-color: #0056b3;
  }
  
  .question-navigation button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .helpText{
    font-size: small;
    color: grey;
    text-align: center;

  }
  .questionText {
    text-align: center;
    color:#333;
    font-weight: bold;
  }
  .option.selected {
    width: 560px;
    height: 46.3px;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #c8ff93;
    color: rgb(0, 0, 0);
  }

  .button-as-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    height: 46.3px; 
    width: 560px;
    background-color: #c8ff93;
    cursor: text;
  }